name: Test

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches: [main]

permissions:
  contents: read

jobs:
  lint:
    if: ${{ github.event_name == 'push' || (github.event_name == 'pull_request' && !github.event.pull_request.draft && !startsWith(github.event.pull_request.title, 'WIP ')) }}

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          clean: true
          lfs: true
          submodules: true

      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          cache: "npm"

      - run: npm install

      - run: npm run format:check

      - run: npm run lint:actions

      - run: npm run lint:templates
